/*============= Button Gradient ============= */

.btn-grad {
 background-image: linear-gradient(
  to right,
  #255779 0%,
  #26a0da 51%,
  #255779 100%
 );
 color: white;
}
.btn-grad:hover {
 background-position: right center;
}

/* ============ Page Heading ================*/
.page-heading {
 padding-top: 20px;
 /* background-image: url('../images/background/1.jpg'); */
 background: #e55d87; /* fallback for old browsers */
 background: -webkit-linear-gradient(
  to right,
  #5fc3e4,
  #e55d87
 ); /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(
  to right,
  #5fc3e4,
  #e55d87
 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 color: white;
 margin-left: 0px;
 margin-right: 0px;
 height: 220px;
 font-family: "Alegreya SC", serif;
}

/*===========Aninmation */
.container_cover {
 width: 100%;
 height: 100%;
}

.animation-area {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 overflow: hidden;
}

.animation-area li {
 position: absolute;
 display: block;
 list-style: none;
 width: 25px;
 height: 25px;
 animation: animate 20s linear infinite;
 bottom: -150px;
}

.animation-area li:nth-child(1) {
 background-color: #329795;
 left: 85%;
 width: 80px;
 height: 80px;
 animation-delay: 0s;
}

.animation-area li:nth-child(2) {
 background-color: #f17993;
 left: 75%;
 width: 50px;
 height: 50px;
 animation-delay: 1.5s;
 animation-duration: 10s;
}

.animation-area li:nth-child(3) {
 background-color: #7e4c97;
 left: 60%;
 width: 100px;
 height: 100px;
 animation-delay: 5.5s;
}

.animation-area li:nth-child(4) {
 background-color: #7ed1e6;
 left: 40%;
 width: 50px;
 height: 50px;
 animation-delay: 0s;
 animtion-duration: 15s;
}

.animation-area li:nth-child(5) {
 background-color: #fca83e;
 left: 25%;
 width: 80px;
 height: 80px;
 animation-delay: 0s;
}

.animation-area li:nth-child(6) {
 background-color: #f9ada3;
 left: 10%;
 width: 120px;
 height: 120px;
 animation-delay: 3.5s;
}

/* the committee page */

.teamCards {
 padding: 0%;
}
.teamImage {
 width: 80%;
 padding: 5px;
 margin: 10px;
 border-radius: 50%;
 border: 2px solid rgb(0, 0, 0);
 box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

.teamText {
 width: 90%;
 padding: 10px;
 margin: 10px;
}
.advisory {
 margin: 5%;
 padding: 3%;
}

/* Connect Page */
.connectCityCard {
 margin: 5%;
 padding: 3%;
 text-align: center;
 background: rgba(1, 214, 254, 0.75);
 /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
 backdrop-filter: blur(12.5px);
 -webkit-backdrop-filter: blur(12.5px);
 border-radius: 10px;
 border: 3px solid rgb(7, 16, 96);
}

/* Event Page */
.eventCard {
 margin: 5%;
 padding: 3%;
 text-align: center;
 background: rgba(1, 216, 254, 0.383);
 /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
 backdrop-filter: blur(12.5px);
 -webkit-backdrop-filter: blur(12.5px);
 border-radius: 10px;
 border: 3px solid rgb(7, 16, 96);
}

.eventCard img {
 width: 100%;
}
@keyframes animate {
 0% {
  transform: translateY(0) rotate(0deg);
 }

 100% {
  transform: translateY(-800px) rotate(360deg);
  opacity: 0;
 }
}
/***** Features *****/
#templatemo_features {
 background: #455a64 url(../images/pattern_bg.png) fixed;
 padding-bottom: 130px;
}
#templatemo_features p {
 padding-bottom: 30px;
 text-align: center;
}
#templatemo_features .feature-box {
 transition: all 0.5s;
 background: transparent;
 padding: 40px 0 40px 0;
 margin-bottom: 0px;
 margin-top: 0px;
}
#templatemo_features .feature-box:hover {
 padding: 0;
 color: #fff;
}
#templatemo_features .feature-box .feature-box-inner {
 box-shadow: inset 0px 0px 0 10px #cecece;
 border-bottom: 10px solid #cecece;
 border-top: 10px solid #cecece;
 transition: all 0.5s;
 background: #fff;
 padding: 20px;
 margin: auto;
}
#templatemo_features .feature-box:hover .feature-box-inner {
 box-shadow: inset 0px 0px 0px 0px #cecece;
 border-bottom: 10px solid #3d799f;
 border-top: 10px solid #3d799f;
 padding: 60px 20px 60px 20px;
 background: #3399cc;
}
#templatemo_features .feature-box p {
 max-width: 250px;
 min-height: 260px;
 line-height: 32px;
 padding-top: 30px;
 font-size: 18px;
 margin: auto;
}
#templatemo_features .feature-box .feature-box-icon {
 border-radius: 0px;
 text-align: center;
 padding-top: 50px;
 font-size: 56px;
 color: #233842;
}

/* ---- particles.js container ---- */
#particles-js {
 position: absolute;
 width: 100%;
 height: 100%;
 background-color: #f7f7f7;
 background-image: url("");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: 50% 50%;
}

/* Landing page */
.landingImageSection {
 background-color: #0b1f4c;
 min-height: 100vh;
}
.landingDiv {
 display: flex;
 align-items: center;
 justify-content: center;
}
.landingImage {
 align-self: center;
 width: 70%;
 margin-top: 30vh;
}

@media screen and (max-width: 768px) {
 .landingImageSection {
  background-color: #0b1f4c;
  height: 100%;
  padding-top: 80px;
 }
 .landingImage {
  width: 100%;
  margin: 10px;
 }

 .landingTextSection {
  min-height: 100%;
 }
}

.landingTextSection {
 background-color: #06cafa;
 min-height: 100vh;
 color: #0b1f4c;
}
.landingTextDiv {
 display: flex;
 align-items: center;
 justify-content: center;
}
.landingText {
 align-self: center;
 width: 70%;
 margin-top: 30vh;
 text-align: center;
 margin-bottom: 30vh;
}

@media screen and (max-width: 768px) {
 .landingText {
  align-self: center;
  width: 100%;
  margin: 10px;
  text-align: center;
 }
}

.nominationTextSection {
 background-color: #ffffff;
 color: #0b1f4c;
 min-height: 80vh;
}
.nominationTextDiv {
 display: flex;
 align-items: center;
 justify-content: center;
}
.nominationText {
 align-self: center;
 width: 70%;
 margin-top: 30vh;
 margin-bottom: 30vh;
 text-align: center;
}

/* nomination page */
.nominationPageHeading {
 text-align: center;
 margin-top: 120px;
}

.nominateNow {
 padding: 10vh;
}
.nominationCards {
 padding: 5%;
 margin: 5%;
 background-color: 0b1f4c;
 color: rgb(0, 0, 0);
 border-radius: 20px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nominationCards:hover {
 background-color: #06c9fa73;
}

.juryCard {
 height: 90%;
 margin: 5%;
 text-align: center;
 padding: 5px;
 border-radius: 15px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

 -webkit-transform: perspective(1px) translateZ(0);
 transform: perspective(1px) translateZ(0);
 -webkit-transition-duration: 0.3s;
 transition-duration: 0.3s;
 -webkit-transition-property: transform;
 transition-property: transform;
}

.juryCard:hover {
 -webkit-transform: scale(1.05);
 transform: scale(1.05);
 box-shadow: 0 4px 8px 0 #0b1f4c, 0 6px 20px 0 #0b1f4c;
}

.juryCard img {
 padding: 5px;
 width: 80%;
 margin: 10%;
 border-radius: 50%;
 border: 2px solid rgb(0, 0, 0);
 box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

.juryCard h4 {
 padding: 10px;
 padding-bottom: 25px;
}
/* Team Page */
.teamPage10on10 {
 height: 90%;
 margin: 5%;
 text-align: center;
 padding: 5px;
 border-radius: 15px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.teamPage10on10 h5 {
 margin: 10px;
}

/* Home Page Timer */
.timer {
 text-align: center;
 margin-top: 10vh;
 font-size: 4em;
 font-weight: 600;
 color: white;
 text-shadow: 0 0 20px #48c8ff;
}

@media screen and (max-width: 768px) {
 .timer {
  margin-top: 80px;
  margin-bottom: 30px;
 }
}

.timer div {
 display: inline-block;
 min-width: 180px;
}
.timer span {
 color: #b1cdf1;
 display: block;
 font-size: 0.3em;
 font-weight: 400;
}

.eventDate {
 color: #b1cdf1;
 display: block;
 font-size: 2em;
 font-weight: 400;
 text-shadow: 0 0 20px #48c8ff;
}

.homePageTitle {
 color: #b1cdf1;
 text-shadow: 0 0 20px #48c8ff;
 text-align: center;
}

.homePageTitleEnding {
 font-size: 2em;
 color: #b1cdf1;
 text-shadow: 0 0 20px #48c8ff;
 text-align: center;
}

@media screen and (min-width: 768px) {
 .homePageTitle {
  padding-top: 20vh;
 }
 .homePageTitle h1 {
  font-size: 3em;
 }
 .venueSection {
  margin-bottom: 30vh;
 }
}
